/* ==============================================
   section b
===============================================*/

#testimonials {
  background-color: #f6f8f9;
  border-top: 1px solid #F8F9FB;
  border-bottom: 1px solid #F8F9FB;
}

.testimonial-box {
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 30px;
}

.testimonial-box h6 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .05em;
  margin-top: 5px;
  margin-bottom: 0px;
}

.testimonial-box p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 25px;
  line-height: 1.8;
  padding: 0px;
}

.testimonial-box i {
  color: #ffffff;
}

.testimonial-box small {
  color: #8da2b5;
  display: inline-block;
}

.testimonial-box span {
  font-size: 14px;
  color: #ffffff;
}

.rating {
  background-color: #0095f7;
  padding: 2px 12px;
  border-radius: 50px;
}

.profile-picture {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.review-one {
  background-image: url('images/profile-picture-one.jpg');
}

.personal-info {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #edf1f2;
}
