/* ==============================================
   section a
===============================================*/

#marketing p {
  font-size: 20px;
    font-weight: 300;
    color: #8da2b5;
    margin-bottom: 0px;
    padding: 0px;
}

#marketing span {
  font-weight: 400;
  color: #0095f7;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.content-box {
  padding: 60px 20px;
}

