/* ==============================================
   section d
===============================================*/

#call-to-action {
  background-image: url('images/call-to-action.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#call-to-action h2 {
  color: #ffffff;
}

#call-to-action p {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  opacity: .8;
  margin-bottom: 40px;
}

#call-to-action .title-block {
  margin-bottom: 0px;
}

#call-to-action .btn-regular {
  background-color: #ffffff!important;
  color: #0095f7!important;
  padding: 15px 45px;
}

#call-to-action .title-block {
  margin-bottom: 0px;
}
